@font-face {
  font-family: "iconfont"; /* Project id 3908088 */
  src: url('iconfont.woff2?t=1680771719453') format('woff2'),
       url('iconfont.woff?t=1680771719453') format('woff'),
       url('iconfont.ttf?t=1680771719453') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-landiandian:before {
  content: "\e609";
}

.icon-dengchu:before {
  content: "\e65f";
}

.icon-huanfu:before {
  content: "\ee16";
}

.icon-language:before {
  content: "\e611";
}

.icon-github:before {
  content: "\e8c6";
}

